setuptools
pandas
numpy
seaborn
matplotlib
scikit-learn==1.7.2
catboost
xgboost
dill
# Flask
fastapi
uvicorn
jinja2
python-multipart

# -e .              # add this when you wanna install the package